@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
body {
  font-family: Coda;
  background-color: hsl(257, 58%, 87%);
}
.btnGroup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
}
.btnGroup > button {
  width: 100px;
  height: 60px;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 10%;
  font-size: 1em;
  font-family: Coda;
}
button:hover {
  background-color: #ffc4eb;
  transition: all 0.5s ease-in;
}
.txtTime {
  font-size: 3em;
  display: flex;
  justify-content: center;
  font-family: 'Lato';
  color: blueviolet;
}
.title {
  display: flex;
  justify-content: center;
  border-bottom: dotted 3px white;
  margin: 10px;
}
